n8n/workflows/ai_orchestration.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-consultation",
        "options": {}
      },
      "id": "1076830b-93ce-4d8e-aeea-cc8d221d05bf",
      "name": "Webhook IA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -848,
        192
      ],
      "webhookId": "69f0c74a-0ac5-4df8-867e-232a0766c787"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "089a4b3b-22b2-4af1-9bfd-30035f5ee6b4",
      "name": "Unir Respuestas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        80,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst deepseek = items[0].json.choices[0].message.content;\nconst copilot = items[1].json.choices[0].message.content;\n\nreturn {\n  deepseek_response: deepseek,\n  copilot_response: copilot,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "dd90e2e5-223e-4a94-8854-52bc353cd339",
      "name": "Formato Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        192
      ]
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -400,
        -64
      ],
      "id": "0479d59f-4754-4260-97df-019eb65af8da",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        96
      ],
      "id": "cda6c1bb-302e-43bb-b52c-e05641e4fa54",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NtSRAwpthBC5H0Ng",
          "name": "Agent Models - ronaldfinanzas07@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -448,
        432
      ],
      "id": "0c37fe66-994e-416a-aabb-7a1d70a17d63",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "NtSRAwpthBC5H0Ng",
          "name": "Agent Models - ronaldfinanzas07@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -416,
        240
      ],
      "id": "e996afc1-9599-42f0-9d59-4c466c778a1c",
      "name": "Basic LLM Chain1"
    }
  ],
  "connections": {
    "Webhook IA": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir Respuestas": {
      "main": [
        [
          {
            "node": "Formato Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Unir Respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Unir Respuestas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b6d0dfdde940c123a0c07fe687cd9586dbf1262405e6f6e958b9c056f3d4ff2"
  }
}