n8n/workflows/critical_alert_webhook.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "critical-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8dfa3c24-62c0-4553-9769-b219d45f90cb",
      "name": "Webhook Alerta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1168, 976],
      "webhookId": "c5c10b6f-8159-4cbb-8654-ec7e55ce36ab"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.indicador.estado}}",
              "value2": "critico"
            }
          ]
        }
      },
      "id": "ce9f8264-84c8-4075-a2b3-4e3d2bc3ed6d",
      "name": "Es Cr칤tico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-880, 976]
    },
    {
      "parameters": {
        "sendTo": "rvillacortac@unitru.edu.pe",
        "subject": "=游뚿 ALERTA CR칈TICA: {{ $json.body.indicador.tipo }} - {{ $json.body.paciente.nombre_completo }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background-color: #dc3545; color: white; padding: 20px; border-radius: 5px 5px 0 0; }\n    .content { background-color: #f8f9fa; padding: 20px; border: 1px solid #dee2e6; }\n    .alert-box { background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 15px 0; }\n    .info-row { margin: 10px 0; }\n    .label { font-weight: bold; color: #495057; }\n    .value { color: #212529; }\n    .footer { background-color: #e9ecef; padding: 15px; text-align: center; font-size: 12px; color: #6c757d; border-radius: 0 0 5px 5px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0;\">游뚿 ALERTA CR칈TICA</h1>\n      <p style=\"margin: 5px 0 0 0;\">Se ha detectado un indicador en estado cr칤tico</p>\n    </div>\n    \n    <div class=\"content\">\n      <h2>Informaci칩n del Paciente</h2>\n      <div class=\"info-row\">\n        <span class=\"label\">Nombre:</span>\n        <span class=\"value\">{{ $json.body.paciente.nombre_completo }}</span>\n      </div>\n      <div class=\"info-row\">\n        <span class=\"label\">Visita #:</span>\n        <span class=\"value\">{{ $json.body.cita.numero_visita }}</span>\n      </div>\n      \n      <div class=\"alert-box\">\n        <h3 style=\"margin-top: 0; color: #856404;\">丘멆잺 Indicador Cr칤tico</h3>\n        <div class=\"info-row\">\n          <span class=\"label\">Tipo:</span>\n          <span class=\"value\">{{ $json.body.indicador.tipo }}</span>\n        </div>\n        <div class=\"info-row\">\n          <span class=\"label\">Valor:</span>\n          <span class=\"value\">{{ $json.body.indicador.valor }}</span>\n        </div>\n        <div class=\"info-row\">\n          <span class=\"label\">Estado:</span>\n          <span class=\"value\" style=\"color: #dc3545; font-weight: bold;\">{{ $json.body.indicador.estado.toUpperCase() }}</span>\n        </div>\n        <div class=\"info-row\">\n          <span class=\"label\">Justificaci칩n:</span>\n          <span class=\"value\">{{ $json.body.indicador.justificacion }}</span>\n        </div>\n      </div>\n      \n      <p style=\"margin-top: 20px;\">\n        <strong>Acci칩n requerida:</strong> Por favor, revise este caso en el sistema lo antes posible.\n      </p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Sistema de Gesti칩n de Esclerosis M칰ltiple</p>\n      <p>Este es un mensaje autom치tico, por favor no responder.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-560, 960],
      "id": "088e0e95-2a5a-467f-8da6-aed943612533",
      "name": "Enviar Alerta por Email",
      "webhookId": "8c0d068c-2ebc-469a-a101-e765d5463b4b",
      "credentials": {
        "gmailOAuth2": {
          "id": "cjroD63USU4noP3E",
          "name": "Gmail - ronaldfinanzas07@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Alerta enviada correctamente\" } }}",
        "options": {}
      },
      "id": "respond-webhook-alert",
      "name": "Responder al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-320, 960]
    }
  ],
  "connections": {
    "Webhook Alerta": {
      "main": [
        [
          {
            "node": "Es Cr칤tico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Cr칤tico?": {
      "main": [
        [
          {
            "node": "Enviar Alerta por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Alerta por Email": {
      "main": [
        [
          {
            "node": "Responder al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b6d0dfdde940c123a0c07fe687cd9586dbf1262405e6f6e958b9c056f3d4ff2"
  }
}
